/* content session */
.content {
  background-image: url(../../imgs/wall1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 5%;
  height: 90vh;
  margin-top: 10vh;
  display: flex;
  justify-content: start;
  align-items: center;
  animation: content 30s forwards ease-out;
  animation-iteration-count: infinite;
}

@keyframes content {
  0% {
    background-image: url(../../imgs/wall1.jpg);
  }
  50% {
    background-image: url(../../imgs/wall2.jpg);
  }
  100% {
    background-image: url(../../imgs/wall3.jpg);
  }
}
.content h1 {
  font-size: 80px;
  color: #10da24;
}
.content p {
  font-size: 30px;
  font-weight: bold;
  color: #f9f9f9;
}
.content button {
  padding: 1em;
  margin-top: 2em;
  background: #8d1103;
  border: 2px solid #8d1103;
  animation: btn 5s forwards ease-out;
  animation-iteration-count: infinite;
}
@keyframes btn {
  0% {
    background: transparent;
  }
  100% {
    background: #8d1103;
  }
}

.content button a {
  font-size: 20px;
  color: #f9f9f9;
  text-decoration: none;
}
@media only screen and (max-width: 769px) {
  .content h1 {
    font-size: 50px;
  }
  .content p {
    font-size: 20px;
  }
}

/* showcase session */

.showcase {
  padding: 5em 5%;
  display: grid;
  grid-template-columns: 60% 40%;
}

.gallary {
  max-width: 700px;
  height: 500px;
  position: relative;
  overflow-y: hidden;
}
.gallary .gallary-div {
  transform: translateY(100%);
  transition: all 1s ease-out;
  opacity: 0;
}
.gallary img {
  width: 100%;
  height: 100%;
}
.gallary:hover .gallary-div {
  opacity: 1;
  transform: translateY(0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(16, 218, 36, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.gallary:hover img {
  opacity: 0.1;
}

.gallary-div p {
  color: #f9f9f9;
  font-size: 25px;
}

.gallary-div button {
  padding: 1em;
  font-size: 20px;
  margin-top: 1em;
  background: #8d1103;
  color: #f9f9f9;
}

.gallary-div button a {
  text-decoration: none;
  color: #f9f9f9;
}

.text h2 {
  font-size: 40px;
  color: #10da24;
  font-family: "Dancing Script", cursive;
}
.text .and {
  color: #8d1103;
  font-family: "Dancing Script", cursive;
}
.text > span {
  margin-bottom: 2em;
  display: block;
  color: #8d1103;
  font-weight: bolder;
}

.text p {
  font-size: 20px;
  line-height: 25px;
}
.text .div {
  display: flex;
  align-items: center;
  margin-top: 1em;
  height: max-content;
  color: #10da24;
}
.text .div span {
  width: 10px;
  height: 50px;
  background-color: #8d1103;
  margin-right: 10px;
}

@media only screen and (max-width: 769px) {
  .showcase {
    grid-template-columns: 100%;
    padding: 2em 5%;
  }
  .gallary {
    height: 300px;
  }
  .text {
    margin-top: 2em;
  }

  .text h2 {
    font-size: 30px;
  }
  .text p {
    font-size: 16px;
    line-height: 25px;
  }
}

/* Team section */

.staff-img {
  background-image: url(../../imgs/team.jpg);
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.staff-img h2 {
  font-size: 80px;
  color: #8d1103;
  font-family: "Dancing Script", cursive;
  padding: 0 5%;
}
.staff-img p {
  font-size: 25px;
  padding: 2em 5%;
  color: #10da24;
}

.staff-name {
  padding: 2em 5%;
  display: flex;
  justify-content: space-between;
}
.staff-name div {
  padding: 1em 2em;
}

.staff-name div h5 {
  font-size: 30px;
  font-weight: bold;
}
.staff-name div cite {
  padding-bottom: 1em;
  display: block;
  color: #10da24;
  font-weight: bold;
}

@media only screen and (max-width: 769px) {
  .staff-img {
    height: 300px;
    background-position: center;
  }
  .staff-img h2 {
    font-size: 40px;
  }
  .staff-img p {
    font-size: 18px;
  }

  .staff-name {
    flex-direction: column;
  }
}
