body,
html {
  padding: 0;
  margin: 0;

  overflow-x: hidden;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* nav-section */
header {
  background: #10da24;
  padding: 0 5%;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  font-size: 25px;
}

.nav {
  list-style: none;
  width: 70%;
  display: flex;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  color: #f9f9f9;
}

.nav a:hover {
  border-bottom: 2px solid #8d1103;
}

#reservation {
  color: #8d1103;
}
.harmburger {
  display: none;
}
.harmburger div {
  width: 30px;
  height: 4px;
  background: #f9f9f9;
}

.harmburger-times .burger-2 {
  display: none;
}

.harmburger-times .burger-1 {
  transform: rotate(45deg) translate(30%);
}
.harmburger-times .burger-3 {
  transform: rotate(-45deg) translate(30%);
}

@media only screen and (max-width: 769px) {
  .harmburger {
    display: flex;
    height: 35px;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 4;
  }

  .nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #10da24;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transform: translate(-100%);
    transition: all 2s ease-out;
  }
  .nav-active {
    transform: translate(0);
  }
}

/* footer */

footer {
  background: #10da24;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.branches {
  padding: 0 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.branches div {
  padding: 2em;
}
.social-media {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #f9f9f9;
  padding: 2em 5%;
}
.name {
  color: #f9f9f9;
  font-size: 20px;
}
.address {
  color: #8d1103;
  padding: 1em 0;
}

.telphone {
  padding-top: 1em;
}
.mail {
  color: #000;
  text-decoration: none;
}
.social-icon i {
  color: #8d1103;
  margin: 0 1em;
}
@media only screen and (max-width: 769px) {
  .branches {
    flex-direction: column;
  }

  .social-icon i {
    color: #8d1103;
    margin: 0 0.5em;
  }
}
