<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home-page</title>
     <!--google font-->
     <link rel="preconnect" href="https://fonts.gstatic.com">
     <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
     <link rel="preconnect" href="https://fonts.gstatic.com">
     <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
     
    <!-- font-awesome cdn -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="./Style/index.css">
    <link rel="stylesheet" href="./Style/main.css">

    <script src="./Script/app.js" defer></script>

</head>
<body>
    <header>
        <nav >
            <a href="./index.html" class="logo">The logo</a>
            <div class="harmburger">
              <div class="burger-1"></div>
              <div class="burger-2"></div>
              <div class="burger-3"></div>
            </div>
            <ul class="nav">
                <li><a href="./index.html">Home</a></li>
                <li><a href="./Order.html">Order</a></li>
                <li><a href="./reservation.html" id="reservation">Reservation</a></li>
                <li><a href="./about.html">About</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <!--------Content--------->
     <section class="content">
         <div>
             <h1>WELCOME TO <span>IRIS RESTURANT</span></h1>
             <p>
                The best gourmet restaurant available in Lagos Nigeria. 
             </p>
             <button>
                 <a href="./Order.html">ORDER NOW</a>
             </button>
         </div>
     </section>
     <!----------Showcase------------->
     <section class="showcase">
           <div>
               <div class="gallary">
                   <img src="../imgs/burger.jpg" alt="" srcset="">
                   <div class="gallary-div">
                       <p>Our year of experiences is more than number</p>
                   <button>
                       <a href="./about.html">About Us</a>
                    </button>
                   </div>
               </div>
           </div>
           <div>
               <div class="text">
                   <h2>AMAZING MEALS <span class="and">&</span> GREAT ENTERTAINMENT</h2>
                   <span>
                    We hope to see you soon!
                   </span>
                   <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
                   </p>
                   <p>
                    Venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.
                  </p>
                  <div class="div">
                      <span></span>
                      <p>Nulla consequat massa quis enim. Doncus ut, imperdiet a.</p>
                  </div>
               </div>
           </div>
     </section>
        <!------------Team----------------->
     <section class="team">
         <div class="staff-img">
            <h2>
                KITCHEN TEAM
            </h2>
            <p>
                Award winning meals, delivered by an amazing team
            </p>
         </div>

         <div class="staff-name">
           <div>
               <h5>David Ayodele</h5>
               <cite>
                GRILL CHEF
               </cite>
               <P>
                Aenean commodo ligula eget dolor. Aenean massa. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
               </P>
        </div>
        <div>
            <h5>Idris Agboola</h5>
            <cite>
                EXECUTIVE CHEF
            </cite>
            <P>
             Aenean commodo ligula eget dolor. Aenean massa. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
            </P>
     </div>
     <div>
        <h5>Adam Abayomi</h5>
        <cite>
            CHEF DE CUISINE
        </cite>
        <P>
         Aenean commodo ligula eget dolor. Aenean massa. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
        </P>
 </div>
           
         </div>
        
     </section>
    </main>
    <footer>

        
                <div class="branches">
                  <div >
                    <h5 class="name">IRIS IKEJA</h5>
                    <p class="address">
                      2-4 opebi street,Awolowo way, ikeja Lagos.
                    </p>
                    <p class="telphone">+2348137088555</p>
                    <a href="mailto: agboolaisholaidreez@gmail.com" class="mail">
                      iris_ikeja@gmail.com
                    </a>
                  </div>
                  <div>
                    <h5 class="name">IRIS LEKKI</h5>
                    <p class="address">
                      2-4 taslim street off Adekunle way, Lekki Lagos.
                    </p>
                    <p class="telphone">+2348137088555</p>
                    <a href="mailto: agboolaisholaidreez@gmail.com" class="mail">
                      iris_lekki@gmail.com
                    </a>
                  </div>
                  <div >
                    <h5 class="name">IRIS VI</h5>
                    <p class="address">
                      2-4 Tinubu street, Victoria Island Lagos.
                    </p>
                    <p class="telphone">+2348137088555</p>
                    <a href="mailto: agboolaisholaidreez@gmail.com" class="mail">
                      iris_vi@gmail.com
                    </a>
                  </div>
                  <div >
                    <h5 class="name">IRIS HEAD OFFICE</h5>
                    <p class="address">
                      203 Azekewe street, Awolowo Road, Ikoyi Lagos.
                    </p>
                    <p class="telphone">+2348137088555</p>
                    <a href="mailto: agboolaisholaidreez@gmail.com" class="mail">
                      irisikeja@gmail.com
                    </a>
                  </div>
                </div>
        


              
                <div class="social-media">
                  <div class="copyright">
                    <p>© Copyright - IRIS 2020</p>
                  </div>
                  <div class=" social-icon ">
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-facebook-square"></i>
                    <i class="fab fa-twitter"></i>
                  </div>
                </div>
              
        
        
    </footer>
    
</body>
</html>