<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./Style/order.css">
    <link rel="stylesheet" href="./Style/nav.css">
    <script src="./Script/app.js" type="module"></script>
</head>
<body>
    <header>
        <nav class="nav">
            <a href="/" class="logo">The logo</a>
            <div class="harmburger"></div>
            <ul>
                <li><a href="./index.html">Home</a></li>
                <li><a href="./Order.html">Order</a></li>
                <li><a href="./reservation.html">Reservation</a></li>
                <li><a href="./about.html">About</a></li>
            </ul>
        </nav>
    </header>
    
</body>
</html>