<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home-page</title>
    <!-- font-awesome cdn -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="./Style/index.css">
    <link rel="stylesheet" href="./Style/main.css">

    <script src="./Script/app.js" defer></script>

</head>
<body>
    <header>
        <nav >
            <a href="./index.html" class="logo">The logo</a>
            <div class="harmburger">
              <div class="burger-1"></div>
              <div class="burger-2"></div>
              <div class="burger-3"></div>
            </div>
            <ul class="nav">
                <li><a href="./index.html">Home</a></li>
                <li><a href="./Order.html">Order</a></li>
                <li><a href="./reservation.html" id="reservation">Reservation</a></li>
                <li><a href="./about.html">About</a></li>
            </ul>
        </nav>
    </header>
<main>
    <h2>Order section</h2>
</main>



    <footer>

        
                <div class="branches">
                  <div >
                    <h5 class="name">IRIS IKEJA</h5>
                    <p class="address">
                      2-4 opebi street,Awolowo way, ikeja Lagos.
                    </p>
                    <p class="telphone">+2348137088555</p>
                    <a href="mailto: agboolaisholaidreez@gmail.com" class="mail">
                      iris_ikeja@gmail.com
                    </a>
                  </div>
                  <div>
                    <h5 class="name">IRIS LEKKI</h5>
                    <p class="address">
                      2-4 taslim street off Adekunle way, Lekki Lagos.
                    </p>
                    <p class="telphone">+2348137088555</p>
                    <a href="mailto: agboolaisholaidreez@gmail.com" class="mail">
                      iris_lekki@gmail.com
                    </a>
                  </div>
                  <div >
                    <h5 class="name">IRIS VI</h5>
                    <p class="address">
                      2-4 Tinubu street, Victoria Island Lagos.
                    </p>
                    <p class="telphone">+2348137088555</p>
                    <a href="mailto: agboolaisholaidreez@gmail.com" class="mail">
                      iris_vi@gmail.com
                    </a>
                  </div>
                  <div >
                    <h5 class="name">IRIS HEAD OFFICE</h5>
                    <p class="address">
                      203 Azekewe street, Awolowo Road, Ikoyi Lagos.
                    </p>
                    <p class="telphone">+2348137088555</p>
                    <a href="mailto: agboolaisholaidreez@gmail.com" class="mail">
                      irisikeja@gmail.com
                    </a>
                  </div>
                </div>
        


              
                <div class="social-media">
                  <div class="copyright">
                    <p>© Copyright - IRIS 2020</p>
                  </div>
                  <div class=" social-icon ">
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-facebook-square"></i>
                    <i class="fab fa-twitter"></i>
                  </div>
                </div>
              
        
        
    </footer>
    
</body>
</html>